*.bak
*.gladep
build
*.pyc
*~
*.sw[po]
*.rej
*.tar.*
ABOUT-NLS
Makefile
Makefile.in
ChangeLog
stamp-h1
xmldocs.make
aclocal.m4
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.status.lineno
config.sub
configure
depcomp
autom4te.cache
gtk-doc.make
install-sh
intltool-*
libtool
ltmain.sh
missing
mkinstalldirs
omf.make
py-compile
cscope.out
tags
TAGS
gnome-doc-utils.make
po/Makefile.in*
po/Makefile
po/Makevars.template
po/POTFILES
po/Rules-quot
po/en@boldquot.header
po/en@quot.header
po/stamp-it
po/.intltool-merge-cache
po/*.sed
po/*.sin
po/*.gmo
po/*.mo
config.lt
help/Makefile
help/**/*.page
help/**/*.mo
!help/C
m4
.project
.settings
.pydevproject
